<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>React Demo</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <div id="root"><%= ReactApp.render(requestPath, personList) %></div>
    <script type="text/javascript" src="/react-app/dist/main.min.js"></script>
  </body>
</html>
